body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1028px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:184px;
}
.u2 {
  position:absolute;
  left:2px;
  top:84px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:185px;
}
.u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:184px;
}
.u4 {
  position:absolute;
  left:2px;
  top:84px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u5 {
  position:absolute;
  left:9px;
  top:111px;
  width:129px;
  height:44px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
.u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7 {
  position:absolute;
  left:9px;
  top:140px;
  width:53px;
  height:12px;
}
.u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u0-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:184px;
}
#u0-2 {
  position:absolute;
  left:248px;
  top:0px;
  width:233px;
  height:184px;
}
#u0-3 {
  position:absolute;
  left:496px;
  top:0px;
  width:233px;
  height:184px;
}
#u0-4 {
  position:absolute;
  left:744px;
  top:0px;
  width:233px;
  height:184px;
}
#u0-5 {
  position:absolute;
  left:0px;
  top:204px;
  width:233px;
  height:184px;
}
#u0-6 {
  position:absolute;
  left:248px;
  top:204px;
  width:233px;
  height:184px;
}
#u0-7 {
  position:absolute;
  left:496px;
  top:204px;
  width:233px;
  height:184px;
}
#u0-8 {
  position:absolute;
  left:744px;
  top:204px;
  width:233px;
  height:184px;
}
#u0-9 {
  position:absolute;
  left:0px;
  top:408px;
  width:233px;
  height:184px;
}
#u0-10 {
  position:absolute;
  left:248px;
  top:408px;
  width:233px;
  height:184px;
}
#u0-11 {
  position:absolute;
  left:496px;
  top:408px;
  width:233px;
  height:184px;
}
#u0-12 {
  position:absolute;
  left:744px;
  top:408px;
  width:233px;
  height:184px;
}
#u0-13 {
  position:absolute;
  left:0px;
  top:612px;
  width:233px;
  height:184px;
}
#u0-14 {
  position:absolute;
  left:248px;
  top:612px;
  width:233px;
  height:184px;
}
#u0 {
  position:absolute;
  left:51px;
  top:209px;
  width:977px;
  height:796px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11 {
  position:absolute;
  left:208px;
  top:156px;
  width:97px;
  height:24px;
  font-size:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u13 {
  position:absolute;
  left:219px;
  top:72px;
  width:75px;
  height:84px;
}
#u14 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u16 {
  position:absolute;
  left:358px;
  top:156px;
  width:110px;
  height:23px;
  font-size:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u18 {
  position:absolute;
  left:377px;
  top:72px;
  width:75px;
  height:84px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u21 {
  position:absolute;
  left:521px;
  top:154px;
  width:104px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u23 {
  position:absolute;
  left:536px;
  top:70px;
  width:75px;
  height:84px;
}
#u24 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u26 {
  position:absolute;
  left:679px;
  top:156px;
  width:123px;
  height:23px;
  font-size:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:84px;
}
#u28 {
  position:absolute;
  left:704px;
  top:72px;
  width:75px;
  height:84px;
}
#u29 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:34px;
}
#u31 {
  position:absolute;
  left:897px;
  top:143px;
  width:31px;
  height:34px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
